.header {
   background-image: url("https://artchive.ru/res/media/img/oy800/work/603/280836.jpg");
   background-repeat: no-repeat;
   background-position: top center;
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   &-container {
     width: 1140px;
     max-width: 100%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     margin-top: 40px;
   }
   &-title {
     padding: 200px 0;
     color: #ffffff;
     text-align: center;
   }
   &__title {
     font-size: 95px;
   }
   &__intro {
     font-size: 25px;
   }
 }