.main-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  &__title {
    font-family: 'Berkshire Swash', cursive;
    font-size: 75px;
  }
}