.header {
  &-blog-page {
    background-image: url("http://vangogh-art.ru/workspace/gallery/pshenichnoe-pole-s-voronami.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }
}
